<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% order.forEach(element => { %>
     <%= element.numero%>
    <% }) %> 
    
    
  </body>
</html>
